<div class="container">
    <hr>

    <footer class="footer text-center">

      <ul>
        <li><a href="/">Strona główna  </a></li>
        <li><a href="/gallery">Galeria  </a></li>
        <li><a href="/contact">Kontakt  </a></li>


      </ul>
      <p>Created by M&T</p>
    </footer>

  </div>