<div class="container">
  <div class="well"><h1>kontakt</h1></div>
   
    <div class="container-fluid">
      <div class="row well">
        <div class="col-md-4">
          <h3>LUK-BUD</h3>

          <br> bla</div>
        <div class="col-md-8 ">
          <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d82567.05840094715!2d19.138979979783038!3d49.706648983429766!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47142623c76da4bb%3A0x85a9dc5388d3f017!2zxbt5d2llYw!5e0!3m2!1spl!2spl!4v1455786699908" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>