<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <a href="/images/cobblestones-256.jpg" class="thumbnail" data-lightbox="galery">
        <img class="cover" src="/images/cobblestones-256.jpg" alt="">
      </a>
    </div>
    <div class="col-md-4 col-sm-6">
      <a href="/images/cobblestones-600.jpg" class="thumbnail" data-lightbox="galery">
        <img class="cover" src="/images/cobblestones-600.jpg" alt="">
      </a>
    </div>
    <div class="col-md-4 col-sm-6">
      <a href="/images/kaboompics-conv.jpg" class="thumbnail" data-lightbox="galery">
        <img class="cover" src="/images/kaboompics-conv.jpg" alt="">
      </a>
    </div>
    <div class="col-md-4 col-sm-6">
      <a href="/images/cobblestones-256.jpg" class="thumbnail" data-lightbox="galery">
        <img class="cover" src="/images/cobblestones-256.jpg" alt="">
      </a>
    </div>
  </div>
</div>